<div class="container">
	<img src="img/birds.png">
	<h1>2.20.2014</h1>
	<div class="buttons">
		<div class="play-button">
			<a href="img/video.MOV" class="html5lightbox">Preview</a>
		</div>
		<a class="play-button">Prepare</a>
	</div>
</div>
