<div class="container">
	<img class="logo" src="img/birds.png">
	<h1>2.20.2014</h1>
	<div class="buttons">
		<div class="play-button">
			<a href="http://youtu.be/yoLvd-AozOU" class="html5lightbox">Preview</a>
		</div>
		<a href="spotify:user:antonmcgeezy:playlist:4sPqmlihrhT8v2ZJl57IFh" class="play-button">Prepare</a>
	</div>
</div>
