html {
	height: 100%;
}
body {
	font-family: 'Lato', sans-serif;
	text-align: center;
	height: 100%;
}
.container {
	padding-top: 100px;
}
h1 {
	font-size: 95px;
	color: #F6F4C0;
	margin-top: 40px;
}
h2{
	font-size: 80px;
	color: #FFF5F5;
	font-weight: 200;
}
.content {
	margin-right: 60px;
}
img {
	width: 250px;
}
.full-bg {
	background: #FFF url('/img/popup.jpg') no-repeat;
	background-attachment: fixed;
	background-size: cover;
	-webkit-background-size: cover;
	-o-background-size: cover;
	-moz-background-size: cover;
	padding: 0;
	position: relative;
	background-position: top center;
	height: 100%;
}

.buttons {
	margin: 50px auto;
}

.play-button {
	font-size: 30px;
	background-color: #4d7aa9;
	padding: 15px 40px 12px;
	margin: 0 15px;
	color: #FFF;
	display: inline-block;
	border-radius: 3px;
	position: relative;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    transition: all 0.2s ease;

}

.play-button:hover {
    background-color: #769ac4;
}
